body {
    background-color: #0099ff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 table.cyanTable {
     background-color: cyan;
     border: 1px solid black;
     border-spacing: 0px;
 }

 table.cyanTable th {
     background-color: yellow;
     border: 1px solid black;
 }

 table.grayTable {
     background-color: gray;
     border: 1px solid black;
     border-spacing: 0px;
 }

 table.grayTable th {
     background-color: yellow;
     border: 1px solid black;
 }

 table.bigTable {
     border-spacing: 0px;
     background-color: white;
 }

 table.bigTable td {
     text-align: center;
     padding: 10px;
     border: 1px solid black;
 }

 table.bigTable th {
     background-color: yellow;
     border: 1px solid black;
 }